.todolist {
  margin-top: 50px;
  width: 600px;

  @media (max-width: 640px) {
    width: 100%;
  }
  .todolist__item {
    border: 1px solid #50514f;
    overflow: hidden;

    &:not(:first-child) {
      border-top: none;
    }
  }

  .todolist__checkbox {
    display: none;
  }

  .todolist__label {
    position: relative;
    display: block;
    padding: 15px;
    line-height: 27px;
    text-indent: 35px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '\2713';
      position: absolute;
      left: -16px;
      top: 15px;
      color: #2ea82e;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      left: 11px;
      top: 15px;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #50514f;

    }
  }

  .todolist__checkbox:checked + .todolist__label::before {
    opacity: 1;
  }

  .todolist__checkbox:checked + .todolist__label::after {
    border: 1px solid #2ea82e;
  }

  .todolist__checkbox:checked + .todolist__label {
    transition: 0.15s ease-in-out;
    text-decoration: line-through;
    color: #b4b4b4
  }
}
